<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cronometro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p style="font-size: 2em; font-weight: 600;">{{horas}} : {{minutos}} : {{segundos}}</p>
    <BR><BR><BR>

    <ion-button color="success" shape="round" (click)="start()" *ngIf="!play">Start</ion-button>
    <BR>
    <ion-button color="warning" shape="round" (click)="pause()" *ngIf="play">Pause</ion-button>
    <BR>
    <ion-button color="danger" shape="round" (click)="zerar()" *ngIf="!play">Zerar</ion-button>

  </div>
</ion-content>
<ion-footer style="padding: 2%;">
  <p>Author: Gustavo Souza</p>
</ion-footer>
